doctype html
html
head
    title="Login"
    // tak z ciekawosci - czy mozna tu dodawac style.css? np jako include ../style.css
body
        .container
            p Zaloguj się do naszego serwisu.
            a(href= '/auth/google')
                        button(type="button") Zaloguj                    